:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --heading-color: white;
  --paragraph-color: #ddd;
  --icon-color: #ffffffa1;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--violet);
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100%;
}
.container {
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
h1 {
  font-family: "Poppins", sans-serif;
  color: var(--heading-color);
}
main {
  max-width: 100%;
}
main header {
  display: flex;
  align-items: center;
}
header i {
  color: var(--icon-color);
}
section .image {
  display: block;
  margin-top: 65px;
}
section .image img {
  max-width: 100%;
}
section .text {
  text-align: center;
  margin-top: 60px;
}
section .text h1 {
  line-height: 1.6;
  font-size: 26px;
}
section .text p {
  color: var(--paragraph-color);
  line-height: 1.6;
}
section button {
  margin-top: 10px;
  padding: 12px 75px;
  border-radius: 23px;
  border: none;
  color: var(--violet);
  box-shadow: 2px 3px 7px 1px #30303082;
}
footer .social-icons {
  margin-top: 60px;
  text-align: center;
}
footer .social-icons i {
  color: var(--heading-color);
  position: relative;
}
footer .social-icons i::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  left: -10px;
  top: -10px;
}
footer .social-icons i:not(:first-of-type) {
  margin-left: 33px;
}
section button:hover {
  background-color: var(--soft-magenta);
  color: var(--paragraph-color);
}
footer .social-icons i:hover {
  color: var(--soft-magenta);
}
footer .social-icons i:hover::after {
  border-color: var(--soft-magenta);
}
@media (min-width: 992px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
  }
  section {
    display: flex;
    justify-content: space-between;
  }
  section .image {
    flex-basis: 60%;
  }
  section .text {
    flex-basis: 35%;
    text-align: left;
  }
  section .text h1 {
    font-size: 34px;
  }
  footer .social-icons {
    text-align: right;
  }
}
